# =========================
# Variables de entorno
# =========================
.env

# =========================
# Binarios de Go
# =========================
*.exe
*.exe~
*.dll
*.so
*.dylib

# Ejecutables generados
/bin/
/build/

# =========================
# Logs
# =========================
*.log

# =========================
# IDE / VS Code
# =========================
.vscode/

# =========================
# Archivos del sistema
# =========================
.DS_Store
Thumbs.db